* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root{
	--clr-light: #fff;

    --clr-dark: #0a0a0a;

	--clr-accent: #f48024;	
}

html{
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
		
	}


body::-webkit-scrollbar {
	width : 0.25rem;


}

body::-webkit-scrollbar-track {
	background: var(--clr-light);
}


body::-webkit-scrollbar-thumb {
	background: var(--clr-accent);


}



button {
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-size: 30px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

h2{
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}

header {
	display: flex;
	height: 20vh;
	margin: auto;
	align-items: center;
	border-bottom: 1px solid var(--clr-accent);
}


.logo-container,
.nav-links {
	display: flex;
}

.logo-container {
	flex: 1;
	position: relative;
	left: 5%;
}

.logo {
	font-weight: 400;
	margin: 5px;
}

#myLogo{
	max-width: 120px;
	max-height: 120px;
}


.logo-container img{
	max-width: 120px;
	max-height: 120px;
}



/* Logo container JS*/
.logo-container { display: 'none' }
.logo-container.open { display: 'block' }



nav {
	flex: 2;
	display: flex; /* Make nav a flexbox container , also this makes a new problem*/
	 

}
.nav-links {
	margin-left:15%;
	margin-right: 15%;
	justify-content: center;
	justify-content: space-between;
	list-style: none;
	flex: 1; /* Let it occupy rest of the container */
	align-items: center; /* Align to the vertical center because logo is bigger. */
}


.nav-link {
	color: var(--clr-dark);
	font-size:20px;
	text-decoration: none;
	font-weight: 600;
}

.sticky {
	position: fixed;
	top: 10;
	height: 20vh;
	width:100%;
	align-items: center;
	background: rgba(255, 255, 255, 1);

  }

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.introduction {
	flex: 1;
}
.intro-text h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, black, #6f6f89);
	background-clip:padding-box;
	 -webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}

.intro-text p {
	margin-top: 5px;
	font-size: 22px;
	color: black;
}

.cta {
	padding: 50px 0px 0px 0px;
}

.cta-select {
	
	border: 2px solid var(--clr-accent);
	background: transparent;
	color: var(--clr-accent);
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
}

.cta-select a{
	text-decoration: none;
	color: var(--clr-accent);
}


.cta-add {
	background: var(--clr-accent);
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color:var(--clr-light);
	margin: 30px 0px 0px 30px;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 60vh;
	animation: drop 1.5s ease;
	
}
.cover img {
	height: 100%;
	border-radius: 50px;

}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: -140%;
	left: 20%;
	z-index: -1;
}


#details{
	padding-top: 250px;
	font-size: 18px ;
	color: #585772;
	font-weight: 400;
	height: 400px;
	display: inline-block;
	width:50%;
	margin: 50px;
}

#description{
	padding-top: 250px;
	font-size: 18px ;
	color: #585772;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	width:90%;
	margin: 50px;
	text-align: justify;
}

#details img {
	border-radius: 8px;
	width: 150px;
	margin: 5px;
  }



#quote{
	font-size: larger;
	text-align: center;
}

#salud{
	font-size: 34px;
	display: inline-block;
	width:90%;
	margin: 50px;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #f48024;

}

#required{
	color: red;
	font-size: 18px ;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: inline-block;
	width:90%;
	margin: 50px;
	text-align: justify;
}


#aboutus{
	padding-top: 300px;
	font-size: 18px ;
	color: #585772;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	display: inline-block;
	width:90%;
	margin: 50px;
	text-align: justify;

}


#meetingpoint{
	display: inline-block;
	width:90%;
	margin: 50px;
	
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	font-size: 14px ;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;

  }


  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #ccc;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
  }

  .modal-bg{
	position: fixed;
	top:-40px;
	bottom: 0;
	left: 0;
	width:100%;
	height: 125vh;
	background-color: rgba(0,0,0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0; 
	transition: visibility 0s opacity 0.5s;
  }


  /*Chaptcha*/

  h3 {
    position:absolute; padding:20px;
	top:0px; left:100px; 
	color: var(--clr-accent);
}
#input {
    position:relative; width:80%; left:5%;
    background-color:rgba(120, 99, 40, 0.15);
    border:solid 2px var(--clr-accent);
    border-radius:4px; 
	color: var(--clr-dark);
	 margin:10px; 
	 padding:5px;
}

#captcha_wrapper {
    position:absolute; padding:20px;
    top:100px; left:50px;
    border-bottom:solid 3px var(--clr-accent);
    border-top:solid 3px var(--clr-accent);
    background-color:rgba(120, 92, 40, 0.11);
}
#captcha {
    position:relative; width:100% ;height:50px;
    background-color:rgba(120, 88, 40, 0.15); 
    border-radius:4px;
    padding:10px; margin:20px;
}
#output {
    width:70%; left:10%;
    position:relative;
	border:solid 1px var(--clr-accent);
	 border-radius:4px;
    background-color:rgba(120, 88, 40, 0.15);
    padding:1px; margin-bottom:10px; 
    text-align:center;
    display:none;
}
#captcha_container {
    position:relative; background-color:rgba(120, 83, 40, 0.3);
    border-radius:4px;
    padding:30px; 
}

  .modal-bg2{
	position: fixed;
	top:0;
	left: 0;
	width:100%;
	height: 120vh;
	background-color: rgba(0,0,0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0; 
	transition: visibility 0s opacity 0.5s;
  }

  .bg-active{
	visibility: visible;
	opacity: 1;
  }


  .bg-active2{
	visibility: visible;
	opacity: 1;
  }

  .modal{
	position: relative;
	background-color: white;
	width: 40%;
	height: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	
  }


  .modal2{
	position: relative;
	background-color: white;
	width: 40%;
	height: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center ;
	flex-direction: column;
	
  }


  .modal button{
	background: #f48024;
	width: 140px;
	height: 45px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 0px 0px 0px 0px;
  }

  .modal-close{
	position: absolute;
	top: 10px;
	right:10px;
	font-weight: bold;
	cursor: pointer;
  }

  .modal-close2{
	position: absolute;
	top: 10px;
	right:10px;
	font-weight: bold;
	cursor: pointer;
  }

  .contact-form{
 max-width: 500px;
 margin: 2rem auto;
 padding: 2rem;
  }

  /*Mobile responsive map*/

  .map{
	width: 70%;
	height: 60%;
	padding-bottom:30%;
	position: relative;
	display: inline-block;
	margin-left: 50px;
	margin-bottom: 50px;

  }

  .map iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	
  }

  #socialmedia{
	font-size: 18px ;
	color: #585772;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	display: inline-block;
	width:90%;

	text-align: justify;

}


  .fa {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;

  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	color:  #125688 ;
  }
  
  .fa-instagram {
	color:  var(--clr-accent);
  }
  
  .fa-linkedin {
	
	color: #007bb5;
  }
  
  
  @keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

	@media screen and (max-width: 767px){
		/* Logo container JS*/
		.logo-container { display: 'block' }


		.line{
			width: 30px;
			height: 3px;
			background: var(--clr-accent);
			margin: 5px;
		}

		header{
			background: white;
		}

		nav{
			position: relative;
			
		}

		.hamburger{
			position: fixed; /*this was absolute*/
			cursor: pointer;
			right: 5%;
			top: 20%;
			transform: translate(-5%, -280%); /*this was 200 with absolute*/
			z-index: 2;
		}

		.nav-links
		{	margin-left:0%;
			margin-right: 0%;
			justify-content: space-evenly;
			background-color: var(--clr-light);
			position: fixed;
			height: 100vh;
			width:100%;
			flex-direction: column;
			clip-path: circle(0px at 57% 10%);
			-webkit-clip-path: circle(0px at 57% 10%);
			transition: all 1s ease-out;
			pointer-events: none;
			text-align: center;
			z-index: 1;
		}

		.nav-links.open{
			clip-path: circle(1000px at 57% 10%);
			-webkit-clip-path: circle(1000px at 57% 10%);
			pointer-events:all;
		}

		.nav-links li{
			opacity: 0;
			
		}

		.navlinks li a{
			font-size: 25px;
			

		}

		.nav-links li:nth-child(1){
			transition: all 0.5s ease 0.2s;

		}

		.nav-links li:nth-child(2){
			transition: all 0.5s ease 0.4s;
			
		}


		.nav-links li:nth-child(3){
			transition: all 0.5s ease 0.6s;
			
		}

		li.fade{
			opacity: 1;
		}

		.nav-link {
			 color: var(--clr-dark);
			font-size: 18px;
		}

		#aboutus{
			padding-top: 200px;
		}

		.presentation {
			align-items: unset; /*because I don't want to have that margin on the side */
		}

		.cover img {
			height: 65%;
			border-radius: 50px;
			margin: 5px;
			padding: 5px;
		
		}

	}


  @media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 5px 0px 0px 0px;
	}


	.cta-select {
		border: 2px solid #f48024;
		background: transparent;
		color: #f48024;
		width: 100px;
		height: 35px;
		font-size: 12px;
	}

	

	.cta-add {
		background: #f48024;
		width: 100px;
		height: 35px;
		font-size: 12px;
		margin: 30px 0px 0px 10px;
	}
	
	.cover img {
		height: 65%;
		padding: 15px; /*safari*/
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.25;

	}
	.nav-link {
		
		/* font-size:10px; */
		text-decoration: none;
		font-weight: 600;
	}


	.logo-container {
		left: 2%;
	
	}

	.logo-container img{
		max-width: 65px;
		max-height: 65px;
	}

	.logo-click{
		display: none;
		visibility: hidden;
	}

	.header {
		top: 10;
		height: 20vh;
		width:100%;
		align-items: center;
	}

	.small-circle {
		width: 50%;
	}

	
	#details{
		font-size: 12px ;
		margin: 10px; 
	}
	
	#description{
		font-size: 12px ;
		margin: 10px; 
	}
	
	
	
	#quote{
		text-align: left;
		font-size: 12px ;
		margin: 10px; 
	}
	
	#salud{
		font-size: 24px;
		width:90%;
		margin: 10px; 
	}
	
	#required{
		font-size: 12px ;
		margin: 10px; 
	}
	
	#aboutus{
		font-size: 12px ;
		margin: 10px; 
	}
	
	#meetingpoint{
	margin: 10px; 
	}
	
	h1{
		font-size: 20px;

	}

	/*mobile contact form*/
	.modal{
		width: 95%;
		height: 90%;
		z-index: 2;
	  }

	.contact-form .message{
		max-width: 60%;
	}


	.modal-bg{
		z-index: 2;
	}

	.modal2{
		width: 75%;
		height: 60%;
	  }
	  
	  .whatsapp{
		max-width: 70%;
	  }

	  .hamburger{
		transform: translate(0%, -285%); /*this was 200 with absolute*/
		z-index: 2;
	}
		
	
	  }



	  @media screen and (max-width: 420px) {
	
		.hamburger{
			transform: translate(0%, -330%); 
			z-index: 2;
		}

		.cover img {
			height: 56%;
			margin: 5px;
			padding: 5px;
		}





		}


		

		@media screen and (max-width: 415px) {
	
			.hamburger{
				transform: translate(0%, -300%); /*this was 200 with absolute*/
				z-index: 2;
			}
	
			.cover img {
				height: 56%;
				margin: 5px; /*Safari*/
				padding: 5px;
			}
	
	
	
	
			}

		

		@media screen and (max-width: 376px) {
	
			.hamburger{
				transform: translate(0%, -320%); /*this was 200 with absolute*/
				z-index: 2;
			}
	
			.cover img {
				height: 56%;
				margin: 5px;
				padding: 5px;
			}
	
	
	
			}




		@media screen and (max-width: 361px) {
	
			.hamburger{
				transform: translate(0%, -270%); /*this was 200 with absolute*/
				z-index: 2;
			}
	
			.cover img {
				height: 56%;
				margin: 5px;
				padding: 5px;
			}
	
	
	
			}


			@media screen and (max-width: 321px) {
	
				.hamburger{
					transform: translate(0%, -245%); /*this was 200 with absolute*/
					z-index: 2;
				}
		
				.cover img {
					height: 56%;
					border-radius: 50px;
					margin: 5px;
					padding: 5px;
				}

				}